@media screen and (min-width: 600px) {  
    .center {
      width: 600px;
      margin: 0 auto;
    }
}

.form_main {
    width: 100%;
}
.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading {
    border-bottom: 1px solid #0aa3d1;
    padding-bottom: 9px;
    position: relative;
}
.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}   
.form {
    border-radius: 7px;
    padding: 6px;
}

label{
    margin: 0;
    font-weight: bold;
    display: block;
}

.txt{
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    outline: none;
}

.txt:enabled:hover{
    box-shadow: 0px 0px 5px  #0aa3d1;
}

.txt-grande{
    width: 100%;
}

.txt-pequeno{
    width: 40%;
}

.submit-button[type="submit"] {
    background: #0aa3d1 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 80%;
}

.voltar{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #0aa3d1;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0px;
    text-transform: uppercase;
    width: 80%;
    cursor: pointer;
}

.submit-button:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    box-shadow: 0px 0px 5px  #0aa3d1;
}

.voltar:hover{
    box-shadow: 0px 0px 5px  #0aa3d1;
}
